@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>WEB API PROYECTO</h1>
<br />
<h2>PROGRAMACIÓN AVANZADA</h2>
<br />
<h2>UNIVERSIDAD AMERICANA</h2>
<br />
<h2>JULIO 2022</h2>
<br />